
body{
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://staticg.sportskeeda.com/editor/2022/01/f1d18-16434699217826-1920.jpg");

  padding: 0;
  margin: 0;
}
.container{
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  text-align: center;
}
.content{

  flex: auto;
  justify-content: center;
  padding: 20px;
  margin-top:50px;
  height: 75%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-image: url('https://static.wikia.nocookie.net/kimetsu-no-yaiba/images/9/92/Hinokami_Kagura_%28Zenshuchuten%29.png/revision/latest?cb=20211119030921');

}
h1{
  color:red
}
.profile img{
  background-color: gray;
  border-radius: 100%;
  border: solid 5px black;
  position: relative;
  height: 200px;
  width: auto;
}

.details{
  margin-top: 50px;
  height: 50%;
  width: 75%;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: space-between; /* Horizontal alignment */
}
.left{width: 50%;
  height: 50%;
  text-align: right;
  padding: 20px;
  border-right: solid gray 4px;
}
.right{
  padding: 20px;
  width: 50%;
  text-align: left;
  height: 50%;
}
h1{
  font-size: 20px;
  font-weight: bold;
}
.owner{
  background-color: white;
  padding: 5px;
  margin-top: 10px;
  border-radius: 30px;
}

.inner{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border-radius: 30px;

}

